@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-serif: 'Libre Baskerville', 'Georgia', 'serif';
  --font-monospace: 'Inconsolata', 'Source Code Pro', 'Courier New', 'monospace';

  --color-rosso-500: #a81525;
  --color-azzurro-500: #025b7b;
  --color-giallo-500: #FFDD11;
  --color-scuro-900: #192121;
  --color-neutro-500: #B4BfC2;
  --color-acqua-500: #82D7CF;
  --color-verdechiaro-500: #38A585; /*  */
  --color-verde-500: #1a6347; /* example value */
  --color-blu-500: #1A3163; /* #1A3163 */
  --color-chiaro-50: #ECEFEE;  /* hsl(200, 35%, 96%); */
  --color-panna-50: #FFF8E1;  
  --color-menta-50: #E2E8E1;
  --color-revista-500:#034B85;
  
}

body {
  @apply  text-gray-900 font-serif bg-chiaro-50;
}

html {
  @apply scroll-smooth;
}

.hor_pattern {
  background-image: url('/horizontal-lines.svg');
  background-repeat: repeat;
  background-size: 100px 96px;
}

.sedhc_grid {
  @apply grid grid-cols-[1fr] lg:grid-cols-[300px_720px_1fr] gap-0;
}

.main_content {
  @apply p-12 px-6 md:px-18 bg-white shadow-2xl w-full;
}